body {
    font-size: 30px;
    padding: 10px;
    color:rgba(144, 45, 49, 0.53);
    flex-direction: column;    
}
.center-box {
    background-color: #add8e650;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;    
}
.container{
    background-color: #f0f8ff50;
    width: auto;
    font-size: 20px;
    margin: auto;
    display: flex;
}